{% extends "base.html" %}
{% block body %}
<!-- FILTER -->
<div class="" id="novel_detail" style="text-align:center;margin-left:13.5%;margin-right:13.5%;">
    <h3>{{novel.nchapter_name | safe}}</h3>
    更新时间: {{novel.nchapter_updatetime}}<br />
    <span style="font-size:20px">{{novel.nchapter_content |linebreaks}}</span>
</div>




	<div id="main-container-menu" class="object">
    	<div class="container-menu">

            <div id="main-cross">
            	<div id="cross-menu"></div>
            </div>

            <div id="main-small-logo">
            	<div class="small-logo"></div>
            </div>

            <div id="main-premium-ressource">
                <div class="premium-ressource"><a href="#">Premium Resources</a></div>
            </div>

            <div id="main-themes">
                <div class="themes"><a href="#">Latest themes</a></div>
            </div>

            <div id="main-psd">
                <div class="psd"><a href="#">PSD Goodies</a></div>
            </div>

            <div id="main-ai">
                <div class="ai"><a href="#">Illustrator freebies</a></div>
            </div>

            <div id="main-font">
                <div class="font"><a href="#">Free fonts</a></div>
            </div>

            <div id="main-photo">
                <div class="photo"><a href="#">Free stock photos</a></div>
            </div>

        </div>
    </div>


<!-- PORTFOLIO -->

	<div id="wrapper-container">

		<div class="container object">

			<div id="main-container-image">




				<div class="work">




	<div id="wrapper-thank">
    	<div class="thank">
        	<div class="thank-text">谢谢观看</div>
    	</div>
	</div>

	{% endblock %}
